.wrapper {
	display: inline-flex;
	width: 70%;
	align-items: start;
	align-self: start;
	gap: 0.5rem;
	background-color: var(--selection);
	padding: 1rem 2rem;
}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.25rem;
}

.textArea {
	resize: none;
	background-color: var(--background-color-tertiary);
}

.detailOptionContent {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 1rem;
}
