.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.optionWrapper {
	display: flex;
	gap: 1rem;
}

.optionInput {
	flex: 1;
}

.addOptions {
	display: flex;
	align-items: center;
}

.addOther {
	color: var(--orange);
	padding: 0 0.5rem;
}
