.edge {
	--xy-edge-stroke-default: var(--foreground);
	stroke-width: 2;
}

.trueBranch {
	--xy-edge-stroke-default: var(--green);
}

.falseBranch {
	--xy-edge-stroke-default: var(--pink);
}

.controls {
	--xy-controls-button-background-color-default: var(--background-color-primary);
	--xy-controls-button-background-color-hover-default: var(--selection);
	--xy-controls-button-border-color-default: var(--background-color-overlay);
	fill: var(--foreground);
}

.panel {
	display: flex;
	gap: 0.5rem;
}

/* Custom Node Style */
.flow {
	background-color: var(--background-color-primary);
	border-radius: 9999px;
}

.section {
	background-color: var(--background-color-tertiary);
}

.condition {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	background-color: var(--background-color-tertiary);
	clip-path: polygon(0.75rem 0, calc(100% - 0.75rem) 0, 100% 0.75rem, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0.75rem 100%, 0 calc(100% - 0.75rem), 0 0.75rem);
}

.node {
	padding: 0.5rem 1rem;
}

.handler {
	transition: opacity 0.2s;
	opacity: 0;
}

.conditionHandler {
	background: transparent;
	border: none;
	width: 1.5rem;
	height: 1.5rem;
	bottom: -0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: crosshair;
}

.handlerTrue {
	left: 40%;
}

.handlerFalse {
	left: 60%;
}

.visible {
	opacity: 1;
}

.selected {
	border: 1px solid var(--selection);
}
