.edge {
	color: var(--white);
	stroke-width: 2;
}

.controls {
	--xy-controls-button-background-color-default: var(--background-color-primary);
	--xy-controls-button-background-color-hover-default: var(--selection);
	--xy-controls-button-border-color-default: var(--background-color-overlay);
	fill: var(--white);
}

/* Custom Node Style */
.flow {
	background-color: var(--background-color-primary);
	border-radius: 9999px;
}

.section {
	background-color: var(--background-color-tertiary);
}

.condition {
	background-color: var(--background-color-tertiary);
}

.node {
	padding: 0.5rem 1rem;
}

.handler {
	transition: opacity 0.2s;
	opacity: 0;
}

.visible {
	opacity: 1;
}
