.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
}

.description {
	padding: 0;
	padding-left: 1rem;
}

.flowContainer {
	display: flex;
	justify-content: center;
}
