.layout {
	display: flex;
	gap: 2rem;
}

.content {
	flex: 1;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	border-radius: 1rem;
	font-size: 1rem;
	min-width: 15rem;
	margin-top: 1.5rem;
	padding: 1.5rem 1rem;
	background-color: var(--background-color-primary);
}

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 1rem;
	background-color: var(--background-color-tertiary);
	padding: 2rem;
}

.newQuestion {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	border: none;
	background-color: inherit;
	color: inherit;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

.newQuestion:hover {
	background-color: var(--hero-background-color-primary);
}

.sidebar > p {
	padding: 0 0.5rem;
}
