.switch {
  width: 2.75rem;
  height: 1.5rem;
  background-color: var(--background-color-tertiary);
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.switch:hover {
  background-color: var(--selection);
}

.switch[data-state='checked'] {
  background-color: var(--orange);
}

.switch:focus-visible {
  outline: 0.125rem solid var(--cyan);
  outline-offset: 0.125rem;
}

.switch[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.thumb {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--foreground);
  border-radius: 9999px;
  transition: transform 0.2s ease;
  transform: translateX(0.125rem);
}

.thumb[data-state='checked'] {
  transform: translateX(1.375rem);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.label {
  font-size: 1rem;
  color: var(--color-body);
  cursor: pointer;
}

.label[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
