.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.label {
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--color-heading);
}

.input {
	width: 100%;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	background-color: var(--selection);
	color: var(--foreground);
	border: 0.0625rem solid var(--background-color-tertiary);
	border-radius: 3px;
	outline: none;
	transition: all 0.2s ease;
}

.input::placeholder {
	color: var(--color-body);
}

.input:focus {
	border-color: var(--orange);
}

.input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.error {
	border-color: var(--red);
}

.errorMessage {
	font-size: 0.875rem;
	color: var(--red);
}
