.info {
	stroke: white;
}

.success {
	stroke: var(--green);
}

.fail {
	stroke: var(--pink);
}

.arrowContainer {
	position: relative;
	display: flex;
	flex-grow: 1;
}

.icon {
	position: absolute;
	top: calc(50% - 6px);
	left: 60%;
}
