.container {
	padding: 2rem 0;
}

.header {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	font-size: 2rem;
}

.options {
	display: flex;
	gap: 2rem;
	/* justify-content: space-between; */
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 1.5rem;
}

.card {
	background-color: var(--background-color-secondary);
	border: 0.0625rem solid var(--background-color-tertiary);
	border-radius: 0.5rem;
	padding: 1.5rem;
	transition: all 0.2s ease;
	cursor: pointer;
}

.card:hover {
	border-color: var(--orange);
	transform: translateY(-0.125rem);
}

.cardHeader {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

.cardTitle {
	font-size: 1.25rem;
	flex: 1;
	min-width: 0;
	word-break: break-word;
}

.cardStatus {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--color-caption);
	flex-shrink: 0;

	color: rgba(80, 250, 123, 1);
	background: rgba(80, 250, 123, 0.3);
	padding: 2px 8px;
}

.cardInfo {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	font-size: 0.875rem;
	color: var(--color-caption);
}

.empty {
	text-align: center;
	padding: 3rem;
	color: var(--comment);
}

.btnList {
	display: flex;
	background: rgba(68, 71, 90, 1);
	width: fit-content;
	justify-content: center;
	align-self: center;
	gap: 2px;
	border-radius: 0.5rem;
	padding: 2px;
	clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.btn {
	padding: 0.5rem 1rem;
	background: none;
	border: none;
	font-size: 1rem;
	font-weight: 330;
	line-height: 1.33;
	cursor: pointer;
	transition: all 0.2s ease;
	color: var(--foreground);
	border-radius: 0.5rem;
	clip-path: polygon(9px 0, 100% 0, 100% calc(100% - 9px), calc(100% - 9px) 100%, 0 100%, 0 9px);
}

.btn:hover {
	background-color: var(--orange);
	color: var(--background-color-primary);
}

.btnActive {
	background-color: var(--orange);
	color: var(--background-color-primary);
}
