.container {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	/* gap: 2rem; */
	height: 100vh;
	overflow: hidden;
}

.header {
	margin-bottom: 2rem;
	text-align: center;
}

.title {
	font-size: 2.6rem;
	margin-bottom: 0.5rem;
}

.subtitle {
	color: var(--color-caption);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background: rgba(28, 27, 34, 1);
	max-width: 70rem;
	max-height: 40rem;
	padding: 2rem;
	height: 100%;
	border-radius: 1rem;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.list::-webkit-scrollbar {
	display: none;
}

.card {
	display: flex;
	background-color: var(--background-color-secondary);
	background: rgba(68, 71, 90, 1);
	border: 0.0625rem solid var(--background-color-tertiary);
	border-radius: 0.5rem;
	padding: 1.5rem;
	/* gap: 2rem; */
	justify-content: space-between;
	transition: all 0.2s ease;
	cursor: pointer;
	clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
}

.card:hover {
	border-color: var(--orange);
	transform: translateY(-0.125rem);
}
.cardInfo {
}

.cardTitle {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.cardDescription {
	color: var(--color-caption);
	font-size: 0.875rem;
}

.empty {
	text-align: center;
	padding: 3rem;
	color: var(--comment);
}

/* .listContainer {
	display: flex;
  	//flex-direction: column;
} */
.btnList {
	display: flex;
	background: rgba(68, 71, 90, 1);
	width: fit-content;
	justify-content: center;
	align-self: center;
	gap: 2px;
	border-radius: 0.5rem;
	padding: 2px;
	clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}
.btn {
	padding: 0.5rem 1rem;
	background: none;
	border: none;
	font-size: 1rem;
	font-weight: 330;
	line-height: 1.33;
	cursor: pointer;
	transition: all 0.2s ease;
	color: var(--foreground);
	border-radius: 0.5rem;
	clip-path: polygon(9px 0, 100% 0, 100% calc(100% - 9px), calc(100% - 9px) 100%, 0 100%, 0 9px);
}

.btn:hover {
	background-color: var(--orange);
	color: var(--background-color-primary);
}

.btnActive {
	background-color: var(--orange);
	color: var(--background-color-primary);
}
