.container {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	/* gap: 2rem; */
	height: 100vh;
	overflow: hidden;
}

.header {
	margin-bottom: 2rem;
	text-align: center;
}

.title {
	font-size: 2.6rem;
	margin-bottom: 0.5rem;
}

.subtitle {
	color: var(--color-caption);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background: var(--background-color-secondary);
	max-width: 70rem;
	max-height: 40rem;
	padding: 2rem;
	height: 100%;
	border-radius: 1rem;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.list::-webkit-scrollbar {
	display: none;
}

.card {
	display: flex;
	background: var(--selection);
	border: 0.0625rem solid var(--background-color-tertiary);
	border-radius: 0.5rem;
	padding: 1.5rem;
	/* gap: 2rem; */
	justify-content: space-between;
	transition: all 0.2s ease;
	cursor: pointer;
	clip-path: polygon(1.25rem 0, 100% 0, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0 100%, 0 1.25rem);
}

.card:hover {
	border-color: var(--orange);
	transform: translateY(-0.125rem);
}
.cardInfo {
}

.cardTitle {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.cardDescription {
	color: var(--color-caption);
	font-size: 0.875rem;
}

.empty {
	text-align: center;
	padding: 3rem;
	color: var(--comment);
	align-self: center;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
