.tag {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.25rem 0.75rem;
	font-family: "Inter";
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	/* border-radius: 9999px; */
	white-space: nowrap;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.dot {
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	background-color: currentColor;
}

.published {
	background: rgba(80, 250, 123, 0.3);
	color: rgba(80, 250, 123, 1);
}

.draft {
	background: rgba(56, 54, 69, 1);
	color: rgba(194, 192, 206, 1);
}

.done {
	background: rgba(255, 184, 108, 0.3);
	color: rgba(255, 184, 108, 1);
}
