.tag {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.25rem 0.75rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	white-space: nowrap;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.dot {
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	background-color: currentColor;
}

.published {
	background: var(--green-subtle);
	color: var(--green);
}

.draft {
	background: var(--background-color-tertiary);
	color: var(--color-body);
}

.done {
	background: var(--orange-subtle);
	color: var(--orange);
}
