.btnList {
	display: flex;
	background: rgba(68, 71, 90, 1);
	width: fit-content;
	justify-content: center;
	align-self: center;
	gap: 0.125rem;
	border-radius: 0.5rem;
	padding: 0.2rem;
	clip-path: polygon(0.625rem 0, 100% 0, 100% calc(100% - 0.625rem), calc(100% - 0.625rem) 100%, 0 100%, 0 0.625rem);
}

.btn {
	padding: 0.5rem 1rem;
	background: none;
	border: none;
	font-size: 1rem;
	font-weight: 330;
	line-height: 1.33;
	cursor: pointer;
	transition: all 0.2s ease;
	color: var(--foreground);
	border-radius: 0.5rem;
	clip-path: polygon(0.5625rem 0, 100% 0, 100% calc(100% - 0.5625rem), calc(100% - 0.5625rem) 100%, 0 100%, 0 0.5625rem);
}

.btn:hover {
	background-color: var(--orange);
	color: var(--background-color-primary);
}

.btnActive {
	background-color: var(--orange);
	color: var(--background-color-primary);
}
