.wrapper {
	display: flex;
	align-items: start;
	gap: 0.5rem;
	background-color: var(--selection);
	padding: 1rem 2rem;
	clip-path: polygon(1.25rem 0, 100% 0, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0 100%, 0 1.25rem);
}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.25rem;
}

.textArea {
	resize: none;
	background-color: var(--background-color-tertiary);
}

.detailOptionContent {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 1rem;
}

.removeIcon {
	cursor: pointer;
	flex-shrink: 0;
	margin-top: 0.25rem;
	color: var(--comment);
	transition: color 0.15s;
}

.removeIcon:hover {
	color: var(--red);
}
