.container {
	display: flex;
	width: 70%;
	flex-direction: column;
	gap: 1rem;
}

.addContainer {
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: var(--selection);
	clip-path: polygon(1.25rem 0, 100% 0, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0 100%, 0 1.25rem);
}
