.markdown {
	line-height: 1.6;
	color: var(--color-text);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-weight: 600;
}

.markdown h1 {
	font-size: 2em;
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 0.3em;
}

.markdown h2 {
	font-size: 1.5em;
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 0.3em;
}

.markdown h3 {
	font-size: 1.25em;
}

.markdown h4 {
	font-size: 1.1em;
}

.markdown p {
	margin-top: 0;
	margin-bottom: 1em;
}

.markdown a {
	color: var(--color-primary);
	text-decoration: none;
}

.markdown a:hover {
	text-decoration: underline;
}

.markdown ul,
.markdown ol {
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 2em;
}

.markdown li {
	margin-bottom: 0.25em;
}

.markdown blockquote {
	margin: 1em 0;
	padding-left: 1em;
	border-left: 4px solid var(--color-border);
	color: var(--color-caption);
}

.markdown code {
	background-color: var(--color-background-secondary);
	padding: 0.2em 0.4em;
	border-radius: 3px;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
}

.markdown pre {
	background-color: #282a36;
	border-radius: 6px;
	padding: 1em;
	overflow-x: auto;
	margin: 1em 0;
}

.markdown pre code {
	background-color: transparent;
	padding: 0;
	border-radius: 0;
	font-size: 0.875em;
	line-height: 1.5;
	display: block;
}

.markdown table {
	border-collapse: collapse;
	width: 100%;
	margin: 1em 0;
}

.markdown th,
.markdown td {
	border: 1px solid var(--color-border);
	padding: 0.5em 1em;
	text-align: left;
}

.markdown th {
	background-color: var(--color-background-secondary);
	font-weight: 600;
}

.markdown img {
	max-width: 100%;
	height: auto;
}

.markdown hr {
	border: none;
	border-top: 1px solid var(--color-border);
	margin: 2em 0;
}
