.container {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.title {
	font-size: 2.625rem;
	font-weight: 630;
}

.addMember {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.addMember > div {
	flex: 1;
}

.membersList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 3.625rem;
}

.memberCard {
	display: flex;
	align-items: center;
	padding: 1rem;
	gap: 1.625rem;
	clip-path: polygon(1.25rem 0, 100% 0, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0 100%, 0 1.25rem);
	border-radius: 0.375rem;
	background-color: var(--background-color-secondary);
}

.memberInfo {
	display: flex;
	flex-direction: column;
	min-width: 0;
	flex: 1;
	overflow-wrap: break-word;
	gap: 0.25rem;
}

.memberImg {
	width: 4rem;
	height: 4rem;
	border-radius: 0.25rem;
}

.memberName {
	font-weight: 520;
	font-size: 1.3rem;
}

.memberEmail {
	font-size: 0.875rem;
	font-weight: 380;
	color: var(--color-caption);
}

.memberActions {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.kickButton {
	font-size: 0.875rem;
}
