.scrollContainer {
	scrollbar-width: auto;
	scrollbar-color: var(--color-display) var(--color-caption);
}

.scrollContainer::-webkit-scrollbar {
	width: 0.85rem;
	height: 0.85rem;
}

.scrollContainer::-webkit-scrollbar-track {
	background: var(--color-caption);
	border-radius: 0.375rem;
}

.scrollContainer::-webkit-scrollbar-thumb {
	background: var(--color-display);
	border-radius: 0.375rem;
	border: 0.125rem solid var(--color-caption);
}

.scrollContainer::-webkit-scrollbar-corner {
	background: transparent;
}
