.title {
	font-size: 3rem;
	background: linear-gradient(135deg, var(--red), var(--orange));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-wrap: balance;
	text-align: center;
	margin-bottom: 1rem;
}

.subtitle {
	font-size: 1.25rem;
	color: var(--color-heading);
	margin-bottom: 2rem;
}

.btn {
	margin-top: 0.8rem;
}

@media screen and (max-width: 40rem) {
	.title {
		font-size: 2.5rem;
	}
	.subtitle {
		font-size: 1rem;
	}
}
