.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 2rem 0;
}

.title {
	font-size: 3rem;
	margin-bottom: 0;
}

.subtitle {
	color: var(--color-caption);
}

.card {
	width: 100%;
	max-width: 25rem;
	background-color: var(--background-color-secondary);
	border: 0.0625rem solid var(--background-color-tertiary);
	border-radius: 0.5rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.label {
	font-size: 0.875rem;
	font-weight: 500;
	display: block;
	margin-bottom: 0.5rem;
}

.input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.375rem;
	border: 0.0625rem solid var(--background-color-tertiary);
	font-size: 0.875rem;
	background-color: var(--background-color-primary);
	color: var(--foreground);
}

.input:focus {
	outline: none;
	border-color: var(--orange);
}

.link {
	text-decoration: none;
}
