.overlay {
	position: fixed;
	inset: -8vh -8vw;
	overflow: hidden;
	pointer-events: none;
	z-index: -10;
}

.row {
	width: max-content;
	animation: marquee-infinite linear infinite;
	display: flex;
	gap: 2rem;
	padding-left: 1.5rem;
}

.track {
	display: flex;
	gap: 2rem;
}

.name {
	font-size: 5rem;
	line-height: 1.5;
	font-weight: 630;
	color: var(--background-color-secondary);
}

@keyframes marquee-infinite {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
