.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 12.5rem;
}

.spinner {
	width: 2rem;
	height: 2rem;
	border: 0.125rem solid var(--background-color-tertiary);
	border-top-color: var(--orange);
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
