.content {
	background-color: var(--background-color-overlay);
	color: var(--foreground);
	border-radius: 0.375rem;
	font-size: 0.875rem;
	line-height: 1.4;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
	z-index: 10000;
	animation-duration: 200ms;
	clip-path: polygon(0.75rem 0, 100% 0, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0 100%, 0 0.75rem);
}

.content[data-state="open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.content[data-state="open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.content[data-state="open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.content[data-state="open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
