.root {
	position: relative;
	overflow: hidden;
	background-color: var(--background-color-tertiary);
	border-radius: 9999px;
	width: 100%;
	height: 0.75rem;
}

.indicator {
	background-color: var(--orange);
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.label {
	display: flex;
	justify-content: space-between;
	font-size: 0.875rem;
	color: var(--color-caption);
}

.percentage {
	font-weight: 600;
	color: var(--foreground);
}
