.container {
	display: flex;
	min-height: 100vh;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
	padding: 2rem 1rem;
}
@media (max-width: 30rem) {
	.container {
		display: block; /* Nav overlay */
	}
}
