.container {
	display: flex;
	min-height: 100vh;
}

.main {
	max-width: 1200px;
	flex: 1;
	margin-left: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
}

.content {
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
}
