.container {
	display: flex;
	min-height: 100vh;
}

.container:has(button[data-admin-nav-toggle][aria-expanded="true"]) {
	overflow-x: hidden;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	transition: transform 420ms ease-in-out;
}

.content {
	flex: 1;
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
}
@media (max-width: 30rem) {
	.mainShifted {
		transform: translateX(66px);
	}
}
