.main {
	min-height: 100dvh;
}

.container {
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
	position: relative;
}

.main,
.container {
	display: flex;
	flex-direction: column;
}
