.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
}

.container.center {
	justify-content: center;
}

.content {
	width: 100%;
	max-width: 40rem;
	z-index: 1;
}
